<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show do Milhão</title>
</head>
<body>
    <h1>Seja bem-vindo ao Show do Milhão</h1>
    <h2>Digite o seu nickname</h2>
    <form action="/start" method="post">
        <input type="text" name="nickname" id="nickname" placeholder="Digite seu nickname" required>
        <button type="submit">Iniciar</button>
    </form>

    <h2>Ranking de Usuários</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario, iterStat : ${usuarios}">
                <td th:text="${iterStat.index + 1}">1</td> <!-- Exibe a posição -->
                <td th:text="${usuario.nickname}">Nome do Usuário</td> <!-- Exibe o nome -->
                <td th:text="${usuario.pontuacao}">0</td> <!-- Exibe a pontuação -->
            </tr>
        </tbody>
    </table>
</body>
</html>